{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Stock Available</th>
            <th>Stock Status</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each report}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.total_stock}}</td>
                <td>{{this.stock_status}}</td>
                <td>{{this.description}}</td>
                <td>{{this.final_price}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</body>
</html> --}}



